:root {
  --insta-blue: #2781ab;
  --insta-grey: #26272b;
}

/* Background with color gradient */
.gradient {
  background: linear-gradient(to bottom left, #5db68b, #cc957c );
  height: 100vh;
}
/* Texto blanco*/
.text-white {
  color: #fff;
}
/* */
input[type=email], input[type=password],
input[type=email]:focus, input[type=password]:focus, 
.btnLogin, .btnLogin:focus, .btnLogin:active, .btnLogin:hover
{
  border: 0 !important;
  outline: 0 !important;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

/* Helpers */
.full-height {
  height: 50vh;
}

.mid-height {
  height: 25vh
}

/* Site styles */
#collage-section {
  height: 50vh;
  background-color: #adadad;
  top: 0;
  left: 0;
  z-index: 2;
}

.collage {
  background-position: center;
  background-size: cover;
  border: 3px solid #e2e2e2;
}

#middle-section {
  background-color: var(--insta-grey);
  color: var(--insta-blue);
  height: 10vh;
  font-size: 1.25em;
  margin-top: 50vh;
}

#images-container {
  background-color: #26272b;
}

#images-container .col {
  padding: 0;
  border-left: 1px solid #313131;
  border-top: 1px solid #313131;
}

@media (min-width: 576px) {
  #collage-section {
    height: 100vh;
  }

  .full-height {
    height: 100vh;
  }

  .mid-height {
    height: 50vh;
  }

  #middle-section {
    margin-top: 0;
  }

  #images-container {
    height: 90vh;
  }
}