:root {
  --insta-blue: #2781ab;
  --insta-grey: #26272b;
}

/* Helpers */
.full-height {
  height: 50vh;
}

.mid-height {
  height: 25vh
}

/* Site styles */
#collage-section {
  height: 50vh;
  background-color: #adadad;
}

.collage {
  background-position: center;
  background-size: cover;
  border: 3px solid #e2e2e2;
}

#middle-section {
  background-color: var(--insta-grey);
  color: var(--insta-blue);
  height: 10vh;
  font-size: 1.5em;
}

#images-container .col {
  padding: 0;
  background-color: #26272b;
  border-top: 1px solid #313131;
  border-left: 1px solid #313131;
}