<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" items="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>InstaCollage</title>
</head>

<body>
  <main class="container-fluid">
    <section class="row">
      <!-- Zona de collage -->
      <section id="collage-section" class="col-12 col-sm-6 position-fixed">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col mid-height collage"></div>
            </div>
            <div class="row">
              <div class="col mid-height collage"></div>
            </div>
          </div>
          <div class="col full-height collage"></div>
        </div>
      </section>

      <section class="col-12 col-sm-6 offset-sm-6">
        <!-- Photobooot -->
        <section id="middle-section" class="row d-flex align-items-center justify-content-center">
          <div class="col">
            <p class="text-uppercase text-center m-0">
              <i class="fab fa-instagram"></i> Photo boot</p>
          </div>
        </section>
        <!-- Imágenes a elegir -->
        <section id="images-container" class="row">
          <div class="col-12">
            <div class="row">
              <div class="col d-flex align-items-center crop">
                <img src="../assets/images/perro1.jpg" alt="" class="img-fluid" draggable="true">
              </div>
              <div class="col d-flex align-items-center crop">
                <img src="../assets/images/perro2.jpg" alt="" class="img-fluid" draggable="true">
              </div>
              <div class="col d-flex align-items-center crop">
                <img src="../assets/images/perro3.jpg" alt="" class="img-fluid" draggable="true">
              </div>
            </div>

            <div class="row">
              <div class="col d-flex align-items-center">
                <img src="../assets/images/perro4.jpg" alt="" class="img-fluid" draggable="true">
              </div>
              <div class="col d-flex align-items-center">
                <img src="../assets/images/perro5.jpg" alt="" class="img-fluid" draggable="true">
              </div>
              <div class="col d-flex align-items-center">
                <img src="../assets/images/perro6.jpg" alt="" class="img-fluid">
              </div>
            </div>

            <div class="row">
              <div class="col d-flex align-items-center">
                <img src="../assets/images/perro7.jpg" alt="" class="img-fluid">
              </div>
              <div class="col d-flex align-items-center">
                <img src="../assets/images/perro8.jpg" alt="" class="img-fluid" draggable="true">
              </div>
              <div class="col d-flex align-items-center">
                <img src="../assets/images/perro9.jpg" alt="" class="img-fluid" draggable="true">
              </div>
            </div>
          </div>
        </section>
      </section>

    </section>
  </main>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap -->
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <!-- JS del proyecto -->
  <script src="../js/app.js"></script>
</body>

</html>